.main-content {
	text-align: center;
	background-color: beige;
	width: 80%;
	margin: auto;
	padding-bottom: 4%;
	padding-top: 2%;
	margin-top: 1%;
	margin-bottom: 1%;
	border: 5px ridge black;
	border-radius: 20px;
}

.main-content p {
	font-family: Georgia, serif;
}

a:hover {
	color: gold;
}

img {
	border: 5px ridge gold;
	width: 500px;
	height: auto;	
}

ul {
	margin: 0px auto;
	text-align: center;
	width: 80%;
}

ul li {
	margin: 0px 5%;
	list-style-type: square;
}
